.menu .navbar-light{
    height: 100px;
}

.options {
    .card-options {
        margin: 50px auto;
    }
}

.transactions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 50px 0 0 0;
}
