<div class="home">
    <div class="row menu">
        <div class="col">
            <nav class="navbar navbar-light bg-light ">
                <div class="container-fluid">
                  <a class="navbar-brand">
                    <img src="/docs/5.1/assets/brand/bootstrap-logo.svg" alt="" width="30" height="24" class="d-inline-block align-text-top">
                    <span class="name">{{ name }}</span>
                    <span class="balance"> seu saldo é de R$ {{ balance }}</span>
                  </a>
                  <a class="nav-link" href="#">Sair</a>
                </div>
            </nav>
        </div>
    </div>

    <div class="row options">
        <div class="col">
            <div class="row">
                <div class="card text-white bg-success mb-3 card-options">
                    <div class="card-body">
                        <h5 class="card-title">Deposito</h5>
                    </div>
                </div>

                <div class="card text-white bg-info mb-3 card-options">
                    <div class="card-body">
                        <h5 class="card-title">Saque</h5>
                    </div>
                </div>

                <div class="card text-white bg-dark mb-3 card-options">
                    <div class="card-body">
                        <h5 class="card-title">Transferência</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row transactions">
        <div class="col-8">
            <div class="list-group">
                <div class="list-group-item list-group-item-action" aria-current="true">
                  <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">List group item heading</h5>
                    <small>3 days ago</small>
                  </div>
                  <p class="mb-1">Some placeholder content in a paragraph.</p>
                  <small>And some small print.</small>
                </div>
              </div>
        </div>
    </div>
</div>
