.menu .navbar-light{

    background-color: rgb(54, 165, 40);
    img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 30px;
    }

    .navbar-brand {
        .item {
            color: rgb(20, 20, 20);
        }
    }

    .close {
        color:rgb(20, 20, 20);
    }
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin-top: 30px;

    .status {
        margin-left: 10px;
    }

    .card {
        height: 10rem;
        border: 2px solid rgb(46, 158, 31);
        border-radius: 10px;
        box-shadow: 20px 20px 10px #ccc;

        .card-title {
            display: flex;
            font-size: 25px;

            img {
                width: 60px;
                height: 60px;
                margin-right: 20px;
            }

            span {
                vertical-align: middle;
            }
        }

        .balance {
            display: block;
            font-size: 40px;
            font-weight: bold;
            margin-left: 80px;
        }

        
    }

}

.options {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .card-options {
        cursor: pointer;
        text-align: center;
        width: 25.25rem;
        height: 100px;
        margin: 50px auto;

        border: 2px solid rgb(46, 158, 31);
        border-radius: 10px;
        box-shadow: 20px 20px 10px #ccc;
        h5 {
            font-size: 25px;
            margin-top: 15px;
        }
    }
}

.transactions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 50px 0 0 0;

    .list-group {
        border: 2px solid rgb(46, 158, 31);
    }
}

.close {
    cursor: pointer;
}
