.menu .navbar-light{
    height: 100px;

    img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 30px;
    }

    .name {
        font-weight: bold;
        text-transform: uppercase;
        vertical-align: middle;
        display: inline-block;
        margin-top: 20px;
    }

    .balance {
        font-size: 16px;
        margin-left: 80px;
        display: block;
    }
}

.options {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .card-options {
        cursor: pointer;
        text-align: center;
        width: 25.25rem;
        height: 100px;
        margin: 50px auto;
        h5 {
            font-size: 25px;
            margin-top: 15px;
        }
    }
}

.transactions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 50px 0 0 0;
}

.close {
    cursor: pointer;
}
