<div class="home">
    <div class="row menu">
        <div class="col">
            <nav class="navbar navbar-light">
                <div class="container-fluid">
                  <a class="navbar-brand">
                    <a class="nav-link item" href="/home">Home</a>
                  </a>
                  <a class="nav-link close" (click)="close()">Sair</a>
                </div>
            </nav>
        </div>
    </div>

    <div class="row info">
        <div class="col-8">
            <div class="card mb-3">
                <div class="card-body">
                    <span class="card-title">
                        <img src="../../../assets/img/logo.jpg" class="d-inline-block align-text-top">
                        <span>{{ name }} - </span>
                        <span class="status">Status: {{ status ? 'Ativado' : 'Desativado' }}</span>
                    </span>
                    <span class="balance">{{ balance | currency : 'BRL' }}</span>
                </div>
            </div>
        </div>
    </div>

    <div class="row options" *ngIf="status">
        <div class="col-8">
            <div class="row">
                <div (click)="depositDialog()" class="card mb-3 card-options">
                    <div class="card-body">
                        <h5 class="card-title">Deposito</h5>
                    </div>
                </div>

                <div *ngIf="balance > 0" (click)="withdrawDialog()" class="card mb-3 card-options">
                    <div class="card-body">
                        <h5 class="card-title">Saque</h5>
                    </div>
                </div>

                <div *ngIf="balance > 0" (click)="transferDialog()" class="card mb-3 card-options">
                    <div class="card-body">
                        <h5 class="card-title">Transferência</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row transactions" *ngIf="status">
        <div class="col-4">
            <div class="list-group">
                <div *ngFor="let info of transactions" class="list-group-item list-group-item-action" aria-current="true">
                  <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">
                      {{ info.type_transaction === 0 ? 'Depósito' : info.type_transaction === 1 ? 'Saque' : info.type_transaction === 2 ? 'Transferência' : ''  }}
                    </h5>

                    <small>{{ info.createdAt | date:'dd/MM/yyyy HH:mm' }}</small>
                  </div>
                  <p class="mb-1">
                    Valor 
                      {{ info.type_transaction === 0 ? 'depositado' : info.type_transaction === 1 ? 'sacado' : info.type_transaction === 2 ? 'transferido' : ''  }} 
                    de 
                      {{ info.value | currency : 'BRL' }}
                  </p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <app-grafico></app-grafico>
        </div>
    </div>
</div>

<ngx-loading-x [show]="load"></ngx-loading-x>