<div class="admin">
    <div class="row menu">
        <div class="col">
            <nav class="navbar navbar-light">
                <div class="container-fluid">
                  <a class="navbar-brand">
                    <a class="nav-link item" href="/admin"> {{ logged }} - Admin </a>
                  </a>
                  <a class="navbar-brand buttons">
                    <div class="button-upload">
                      <button mat-flat-button (click)="csvImportChange()">Cadastro de Usuários</button>
                    </div>

                    <div class="button-close">
                      <a class="nav-link close" (click)="close()">Sair</a>
                    </div>
                    
                  </a>
                </div>
            </nav>
        </div>
    </div>

    <div class="row users">
        <div class="col-4">
            <div class="list-group">
                <div *ngFor="let user of users" class="list-group-item list-group-item-action" aria-current="true">
                  <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">
                      {{user.name | uppercase}}
                    </h5>

                    <small>
                        <button type="button" class="btn btn-primary" (click)="updateUser(user)">Editar</button>
                        <button type="button" class="btn btn-danger" (click)="deleteUser(user._id)">Deletar</button>
                    </small>
                  </div>
                </div>
            </div>
        </div>

        <div class="col-4">
          <app-grafico-admin></app-grafico-admin>
        </div>
    </div>

</div>

<ngx-loading-x [show]="load"></ngx-loading-x>
