<div class="login-form">
    <div class="imagem">
        <img src="../../../assets/img/bank-login.png" alt="">
    </div>

    <div class="login">
        <h3 class="mb-3 title">Sign in</h3>

        <form class="formulario">
            <div class="col-6">
                
                <div class="mb-3">
                    <input type="email" class="form-control" placeholder="Seu email">
                </div>
                <div class="mb-3">
                    <input type="password" class="form-control" placeholder="Sua senha">
                </div>
                <button type="submit" class="btn btn-primary btn-lg">Logar</button>
                <div class="form-text offset-md-6">ou</div>
                <div class="form-text offset-md-6">
                    Ainda não tem uma conta? <a [routerLink]="['/cadastrar']">Cadastre aqui!</a>
                </div>
            </div>
        </form>
    </div>
</div>
