<div class="login">
    <form>
        <div class="col-md-3 offset-md-3">
            <h3 class="mb-3 offset-md-4">Realizar login</h3>
            
            <div class="mb-3">
                <input type="email" class="form-control">
            </div>
            <div class="mb-3">
                <input type="password" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary btn-lg">Logar</button>
            <div class="form-text offset-md-6">ou</div>
            <button [routerLink]="['/cadastrar']" class="btn btn-secondary btn-lg">Cadastrar</button>
        </div>
    </form>
</div>
