.login {
    .formulario {
        margin-top: 20px;
    }

    .title {
        margin-top: 20px;
    }
    
    button {
        margin: 10px 0;
        width: 100%;
    }

    .form-text {
        margin: 10px 0;
        text-align: center;

        a {
          text-decoration: none;  
        }
    }
}