.message-error {
    font-size: 12px;
    color: #ffffff;
}

button {
    width: 200px;
    margin: 0 auto;
}

.button-upload {
    width: 200px;
    margin: 20px auto;

    button {
        border-radius: 10px;
        height: 60px;
        width: 200px;
    }
}

input {
    width: 100%;
    margin: 10px 0;
}

.editUser {
    margin: 0 auto;
}